@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Oxygen|Trocchi');

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/GodoM.ttf') format('truetype');
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/GodoB.ttf') format('truetype');
}